{{define "home"}}
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <center>
        <h2>Monitoring & Tracking CO2</h2>
    </center>
    </br>

    <h3> Tabel Monitoring & Tracking CO2</h3>
    <dl>
        <dd> <a href='/monstrackco2/table' target='blank1'>Table</a></dd>
    </dl>
    </br>

    <h3> Mapping Monitoring & Tracking CO2</h3>
    <ol>
        <li><a href='/monstrackco2/map17' target='blank2'>17/10/2019</a></li>
        <li><a href='/monstrackco2/map29' target='blank3'>29/10/2019</a></li>
    </ol>

</body>

</html>
{{end}}