{{define "table"}}
<!DOCTYPE html>
<html>

<head>
    <title>Tabel</title>
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="table-responsive">
        <h2>Tabel Monitoring CO2</h2>

        <table class="table table-sm table-striped table-bordered" border="1" cellpadding="5">
            <thead>
                <tr>
                    <th bgcolor="LightGray">
                        <center>No.</center>
                    </th>
                    <th bgcolor="LightGray">
                        <center>Date</center>
                    </th>
                    <th bgcolor="LightGray">
                        <center>Time</center>
                    </th>
                    <th bgcolor="LightGray">
                        <center>Heading (degree)</center>
                    </th>
                    <th bgcolor="LightGray">
                        <center>Latitue</center>
                    </th>
                    <th bgcolor="LightGray">
                        <center>Longitude</center>
                    </th>
                    <th bgcolor="LightGray">
                        <center>Speed (kMh)</center>
                    </th>
                    <th bgcolor="LightGray">
                        <center>Temperature (C)</center>
                    </th>
                    <th bgcolor="LightGray">
                        <center>CO2 (ppm)</center>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>{{range $index, $elem := .Line1}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line2}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line3}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line4}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line5}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line6}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line7}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line8}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line9}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line10}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line11}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line12}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line13}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line14}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line15}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line16}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line17}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line18}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line19}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line20}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line21}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line22}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line23}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line24}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line25}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line26}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line27}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line28}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line29}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line30}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line31}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line32}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line33}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line34}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line35}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line36}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line37}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line38}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line39}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line40}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line41}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line42}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line43}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line44}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line45}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line46}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line47}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line48}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line49}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line50}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line51}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line52}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line53}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line54}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line55}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line56}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line57}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line58}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line59}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
                <tr>{{range $index, $elem := .Line60}}<td>
                        <center> {{$elem}}</center>
                    </td>{{end}}</tr>
            </tbody>
        </table>

    </div>
</body>

</html>
{{end}}